.main {
    max-height: 600px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.Main-ex {
    margin: 0 12px;
    width: 181.454545%;
    margin-top: 20px;
    background-color: rgb(231, 236, 235);
    padding: 4px;
    padding-top: 6px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item {
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: rgb(178, 214, 202);
}
.item:hover {
    background-color: rgba(178, 214, 202, 0.8);
    cursor: pointer;
}
.borders {
    border: 1px solid #ccc;
    margin-top: 8px;
}

.quetion {
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.lable {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.inforText {
    width: 89%;
    margin-left: 10px;
    padding: 8px 0;
    border: 1px solid #ccc;
    padding-left: 6px;
    font-size: 14px;
    color: #000;
    outline: none;
    border-radius: 4px;
}
.Answer {
    margin-top: 8px;
    margin-left: 12px;
}

.btn {
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.btnAnswer {
    font-size: 14px;
}
.chooseAnswer {
    font-size: 14px;
    margin-left: 4px;
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: rgb(195, 230, 224);
}
.infor {
    width: 90%;
    margin-left: 10px;
    padding: 8px 0;
    border: 1px solid #ccc;
    padding-left: 6px;
    font-size: 14px;
    color: #000;
    outline: none;
    border-radius: 4px;
}
